html{
   width: 800px;
   align-content: center;
}
body {
   background-color: #faf3e0;
}

p {
   color: #2c3e50;
   font-family: Arial, sans-serif;
}

h1 {
   font-size: 32px;
   color: #0077b6;
   text-align: center;
}

h2 {
   font-size: 24px;
   color: ##f4a261;
}

img {
   max-width: 500%;
   align-items: center;
}

form {
   background-color: #ffffff;
}

input, select, textarea {
   border-color: #eaeaea;
   border-radius: 1px;
}

button {
   background-color: #0077b6;
   color: #ffffff;
   align-content: center;
}

textarea {
   placeholder :color #f4a261;
}

body {
   margin: 15px;
   padding: 10px;
   border-radius: 10px;
}
